body {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    position: relative;
    border-radius: 25px;
    height: 100px;
    margin: 30px;
    background-color: red;
}

.con-text {
    position: absolute;
    width: 100%;
    z-index: 100;
    background: #fff;
    height: 100px;
    border-radius: inherit;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 15px;
}

.con-text h3 {
    font-size: .9rem;
    padding-bottom: 5px;
    pointer-events: none;
}

.con-text p {
    font-size: .75rem;
    opacity: .6;
    pointer-events: none;
}

.config {
    left: 10px;
    background: #e7eaed;
}

.con-icon {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.config .con-icon {
    padding-right: 10px;
}

.remove {
    background: #ec395e;
    color: #fff;
    justify-content: flex-end !important;
    right: 10px;
}

.remove .con-icon {
    padding-left: 10px;
}

.item button {
    width: 50%;
    border: 0px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    border-radius: inherit;
    position: absolute;
    height: 90px;
}